    @{
        ViewData["Title"] = "Privacy Policy";
    }
    <h1>@ViewData["Title"]</h1>

    <p>We operate a strict privacy policy.</p>
    <p>It is so strict, we can't actually tell you what it is.</p>

    <img src="https://64.media.tumblr.com/9ab10dba471795ea72d71164e52ca9f6/tumblr_n3fnw2q0WY1s59ho2o5_1280.jpg" alt="Nature" class="responsive">